<div class="text-bg-warning p-3">Contact</div>
<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Contact</h5>
      <p class="card-text">Indian Art Forms Society 
        Pallikara.P.O, Kakkanad, Kochi 
        <br>
        Ph : 9656783452<br>  
             9656783452 <br>
        Email : artformsociety@gmail.com
        <br>
        Website : www.indianartformsociety.com
      </p>
      
    </div>
  </div>